POSTGRES_USER=canbankx_user
POSTGRES_PASSWORD=canbankx_password
USER_SERVICE_DATABASE_URL=postgresql://canbankx_user:canbankx_password@postgres:5432/canbankx_user
ACCOUNT_SERVICE_DATABASE_URL=postgresql://canbankx_user:canbankx_password@postgres:5432/canbankx_account
TRANSFER_SERVICE_DATABASE_URL=postgresql://canbankx_user:canbankx_password@postgres:5432/canbankx_transfer