BASE_URL=http://localhost:8080
VUS=50
DURATION=2m
STAGES=
READ_RATIO=0.7
TRANSFER_AMOUNT=5.0
BEARER_TOKEN=
CUSTOMER_ID=
FROM_ACCOUNT_ID=
BENEFICIARY_USERNAME=
REMOTE_WRITE_URL=http://localhost:9090/api/v1/write
